<%= form_for(@term) do |f| %>
  <% if @term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@term.errors.count, "error") %> prohibited this term from being saved:</h2>

      <ul>
      <% @term.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :term %><br />
    <%= f.text_field :term %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <b>Short definition:</b> <br>
    a short summary that will be displayed on the main page below each term.<br />
    <%= f.text_area :def, :rows=>"10" %>
  </div>
  <div class="field">
    <b>Elaboration: </b><br>
    this will be visible on each term's own page.<br />
    <%= f.text_area :longdef %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
