<%= provide(:title, @title) %>
<p id="notice"><%= notice %></p>
<div id="main">
<div id="showdef">
  <h2><%= @term.term %></h2>
  <h3><%= @term.def %></h3>
  <%= @term.longdef %>

</div>
<!--social-->
<a href="#"
  onclick="
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
      'facebook-share-dialog',
      'width=626,height=436');
    return false;">
   <%= image_tag "facebook_share.png", size:"25x25"%></a><br>
<%= link_to 'Back',root_path %> 
</div>
   <a href="#" onclick="fb_custom_publish()"><%= image_tag "facebook_share.png", size:"25x25"%></a><br>
<script type="text/javascript">
  function fb_custom_publish() {
    // calling the API ...
        var obj = {
          method: 'feed',
          redirect_uri: 'stanforddict.herokuapp.com',
          link: 'http://stanforddict.herokuapp.com',
          picture: 'https://github.com/mirri66/stanfordwiktionary/blob/master/app/assets/images/stanfordDictLogo_square.png', 
          name: 'Stanford dictionary: <%= @term.term %>',
          caption: '<%= @term.def %>',
          description: '<%= @term.longdef %>' 
        };

        function callback(response) {
          document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
        }

        FB.ui(obj, callback);
  }
</script>
