<p id="notice"><%= notice %></p>
<div id="showdef">
<p>
  <b><%= @term.term %><b>
</p>

<p>
  <%= @term.def %>
  <%= @term.longdef %>
</p>

</div>
<%= link_to 'Edit', edit_term_path(@term) %> |
<%= link_to 'Back', terms_path %>
