<%= provide(:title, @title) %>
<p id="notice"><%= notice %></p>
<div id="main">
<div id="showdef">
  <h2><%= @term.term %></h2>
  <h3><%= @term.def %></h3>
  <%= @term.longdef %>

</div>
<!--social-->
<a href="#"
  onclick="
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
      'facebook-share-dialog',
      'width=626,height=436');
    return false;">
   <%= image_tag "facebook_share.png", size:"25x25"%></a><br>
<%= link_to 'Back',root_path %> 
</div>
