<%= provide(:title, @title) %>
<p id="notice"><%= notice %></p>
<div id="main">
<div id="showdef">
  <h2><%= @term.term %></h2>
  <h3><%= @term.def %></h3>
  <br><%= @term.longdef %>
  <br><br>
  <% if @term.author %>
    <i>contributed by <%= @term.author %></i><br>
  <% end %>
  <!--social-->
  Share this!<br>
  <a href="#" onclick="fb_custom_publish()"><%= image_tag "facebook_share.png", size:"25x25"%></a>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="StanfordAlumni">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

<%= link_to 'Back',root_path %> 
</div>
<script type="text/javascript">
  function fb_custom_publish() {
    // calling the API ...
        var obj = {
          method: 'feed',
          redirect_uri: 'stanforddict.herokuapp.com',
          link: 'http://stanforddict.herokuapp.com/terms/<%=@term.id %>',
          picture: 'https://raw.github.com/mirri66/stanfordwiktionary/master/app/assets/images/stanfordDictLogo_square.png',
          name: 'Stanford Dictionary: <%= @term.term %>',
          caption: '<%= @term.def %>',
          description: '<%= @term.longdef %>' 
        };

        function callback(response) {
          document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
        }

        FB.ui(obj, callback);
  }
</script>
